<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="screen-orientation" content="portrait">
	<title>二哲 - vue多页项目构建</title>
	<link rel="stylesheet" href="YOURCDNLINK/css/shopping/buy-907176ff76.css">
</head>
<body>
<h3 id="buy">我是buy全局样式</h3>
<div id="container">
	<list></list>
	<loading></loading>
</div>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
<script src="YOURCDNLINK/js/shopping/buy-c183309566.js"></script>
</body>
</html>