<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="screen-orientation" content="portrait">
	<title>二哲 - vue多页项目构建</title>
	<link rel="stylesheet" href="yourCDNLink/static/css/shopping/buy-907176ff76.css">
</head>
<body>
<h3 id="buy">我是buy全局样式</h3>
<div id="container">
	<list></list>
	<loading></loading>
</div>
<script src="yourCDNLink/static/es6/lib/vue-0cffaa966a.js"></script>
<script src="yourCDNLink/static/es6/shopping/buy-6861557607.js"></script>
</body>
</html>